$text-color: #000;
$link-color: #0066CC;
$title-color: #003399;
$border-gray: #767676;
$border-blue: #2CD3FE;
$border-light: #F7F9FC;
$bg-base: #F0F0F0;
$bg-tips-top: #ffffff;
$bg-tips-bottom: #CADAEF;
$titlebar-gray1: #7a7979;
$titlebar-gray2: #3b3d3e;
$titlebar-gray3: #060f11;
$titlebar-gray4: #133c50;
$navbar-gray1: #fefefe;
$navbar-gray2: #E5EAF5;
$navbar-gray3: #D4DBED;
$navbar-gray4: #E1E6F6;
$navbar-hover: #a7a7a7;
$wmp-blue: #0F41CD;
$dialog-bg: rgba(240, 240, 240);
$dialog-border: #7da2ce;

$wrap-width: 1000px;
$main-width: 690px;
$sidebar-width: 280px;
$base-font-size: 13px;
$base-line-height: 1.5;
$base-font: "Segoe UI", "Microsoft YaHei UI";
$radius-base: 3px;
$radius-tips: 4px;
